
h1 ,h2, h3, h4, h5{
    font-family: "Roboto Condensed", sans-serif;
}

.color-red{
    color: red;
}

.font-22{
    font-size: 22px;
    font-weight: 700;
}

.nav-li a:hover{
    cursor: pointer;
    color: red ;
    text-decoration: none ;
}
.red{
    background-color: #F72210;
    color: #F72210;
}

header{
    display: flex;
    max-width: 1300px !important;
    margin: 0 auto;
}

.row{
    max-width: 1300px;
    margin: 0 auto !important;   

}

.page-flow{
    max-width: 1300px;
    margin: 0 auto !important;   

}


.header-control{
    height: 95px;
    justify-content: space-between;
    align-items: center;
}

.newsweek-logo{
    width: 395px;
    height: 67px;
}

.white-tx{
    color: white;
}

.date{
    flex-direction: column;
    padding: 0 0 20px 20px;
    align-self:flex-end;
}

.sub-signin-buttons{
    font-weight: bold;
    padding-top: 10px;
}

.signin-button{
    text-transform: uppercase;
    align-self:flex-end;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 3px;
}

.subscribe-button{
    display: flex;
    text-transform: uppercase;
    height:30px;
    width: 150px;
    background-color: white;
    align-self:flex-end;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.fa-chevron-right{
    align-content: center;
    margin-left: 10px;
}
.nav-control{
    height: 60px;
    max-width: 1300px;
    margin: 0 auto;

}

.page-nav-ul{
    font-size: 18px;
    padding-right: 95px;
    padding-left: 3px;
    margin: auto 0;
    height: 30px;
    width: 100%;
    text-decoration: none;
    list-style: none;
}

.nav-li{
    white-space: nowrap;
    width: 100%;
    margin:0 5px;
}
.nav-li a{
    width: 100%;
    text-align: center;
    color: black;
    font-weight: bold;
}

.search-input{
    white-space: nowrap;
}

.input-control{
    border: none;
    max-width: 60px;
}

.fa-bars{
    margin-left: 30px;
    color: rgba(255, 255, 255, 0.657);
}
/* top main section of articles start of styling */

.wrapper-top-main{
    margin-top: 20px;
    max-width: 1300px;
}

.first-column-top-main img{
    width: 100%;
    height: auto;
    max-width: 395px;
}

.top-main-container-titles{
    font-size: 15px;
    color: rgb(116, 116, 116);
}

.top-main-container-article-titles a{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
    font-size: 22px;
    color: rgb(0, 0, 0);
    font-weight: 700;
}

.top-main-summary{
    line-height: 1.2;
    font-size: 15px;
}

.related-to-article-story{
    color: black;
    font-size: 15px;
    font-weight: 700;
}

.second-column-top-main{
    padding: 0 10px !important;
}

.top-main-img-wrapper{
    position: relative;
}

.content-second-column-wrapper{
    margin: 0 auto;
    max-width: 510px;
}

.second-column-top-main-img{
    display: block;
    height: auto;
    width: 100%;
    max-width: 550px;
    max-height: 350px;
    margin: 0 auto;
}

.country-logo{
    display: flex;
    max-width:58px ;
    width: 100%;
    min-height: 30px;
    height: auto;
    position: absolute;
    bottom:0px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 2;
    justify-content: center;
    margin: 0 !important;
}

.country-logo h1{
    align-self: center;
    font-weight: 700;
    font-size:17px ;
    color: rgb(247, 34, 16);
    margin-top: 10px;
    z-index: 3;
}

/* culture section */

.Culture-and-Travel-articles-wrapper{
    background-color: #f4f5f7;    
    margin: 0 auto;
}


.second-column-culture-left-img{
    max-width: 100%;
    height: auto;
}
.culture-main-summary{
    color: rgba(0, 0, 0, 0.514);
}

.active-a-tag-wrapper{
    margin-bottom: 20px;
}

.active-a-button{
    font-size: 13px;
    color: black;
    text-decoration: none;
    padding: 3px 5px;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    background-color:rgb(194, 212, 215);

}

.active-a-button:hover{
    color:rgb(194, 212, 215); ;
    background-color: rgb(49, 49, 49);
    text-decoration: none;
}

.culture-main-summary{
    font-size: 15px;
    margin-bottom: 0 !important;
}

.latest-news-article img{
    max-width: 120px !important;
}

.latest-news-article h5{
    margin-left: 10px;
}

.latest-news-article-a{
    letter-spacing: 0.053em;
    font-weight: 700;
    font-size: 14px;
}

/* More stories */

.more-stories-title{
    font-weight: 900;    
    font-size: 16px;
    padding-top: 20px;
    color: rgb(163, 162, 162);
}

.More-Stories-Articles{
    display: block;
    
}

.More-Stories-Articles img{
    padding-left: 10px;
    display: inline-block;
    width: auto;
    max-height: 100%;
    min-width: 130px ;
    padding-right: 10px;
    float: left;
}

.More-Stories-Articles h5{
    font-size: 17px;
    font-weight: 700;
    padding: 0 10px;
}

.More-Stories-Articles p{
    font-size: 15px;
    font-weight: 400;
    padding: 0 10px;
}


/* Third column */
.person-opinion-wrapper img{
    min-width: 63px;
    height: 100%;
    margin: 0 5px;
}

.picture-sponsored{
    width: auto;
    margin-top: 35px;
    
}

.picture-sponsored img{
    width: 100%;
    height: auto;
    max-width: 100%;
  
    
}

.sponsor-elements-wrapper{
    width: auto;
    max-width: 350px;
    border: 1px solid rgb(233, 233, 233);
    margin: 0 auto;
 
}

.picture-sponsor-title-summary-wrapper h3{
    font-weight: 900;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 24px;
}

.picture-sponsor-title-summary-wrapper p{
    font-size: 15px;
    line-height: 17px;
    padding: 0 20px;
}
/* Magazine bottom of page section */

.bottom-of-page{

}

.bottom-of-page-title{
    text-align: center;
    margin-bottom: 5px;
 
}

.bottom-of-page-title img{
    background-color: red;
    max-width: 29px;
    height: auto;
}

.magazine-firstcol img{
    /* max-width: 290px; */
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.magazine-titles{
    max-width: 317px;
    font-size: 20px;
    font-weight: 700;
    color: black;
}

.magazine-images img{
    width: 100%;
    height: auto;
}

.red-background-cover-wrapper{
    margin-top: 5px;
}

.cover-button{
    text-transform: uppercase;
    background-color: red;
    width: 100%;
    max-width: 100px;
    text-align: center;
    height: auto;
    color: white;
    font-weight: 700;
    padding: 3px 0;
}

.world-button{
    width: 64px;
    height: auto;
    color: red;
    font-weight: 700;
    padding: 3px 5px;
}
/* newsweek-conversations */

.max-news-height{
    max-height: 535px;
}

.newsweek-conversion{
    position: relative;
    justify-content: center;
    font-size: 19px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 0.0.49em;
    margin-bottom: 10px;
    margin-top: 20px;
    
}

.fa-cover{
    position: absolute;
    background-color: red;
    width:50px;
    height: 50px;
    bottom:0px;
    left:0px

}

.fa-play{
    position: absolute;
    color:white;
    bottom:7px;
    left:15px
}

.newsweek-conversion p{
    margin-bottom: 5px !important;
    margin-left: 5px;
    align-self: flex-end;
}

.special-col-4{
    flex-direction: column;
}

.icon-n{
    background-color: red;
    max-width: 40px;
    width: 100%;
    max-width: 35px;
    height: auto;

}

.no-padding{
    padding: 0 !important;
}

.the-vampire{
    background-color: black;
    color: white;
}

.newsweek-img{
    box-sizing: border-box;
    background: url("https://d.newsweek.com/en/full/1555347/newsweek-conversations-paul-wesley.jpg?w=486&h=315&f=78f0771c8fbfb19e3f231a48832b7a20")no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: auto;
    width: 100%;
    max-width: 480px;
    min-height: 362px;
    
}
.newsweek-img-2{
    position: relative;
    box-sizing: border-box;
    background: url("https://d.newsweek.com/en/full/1555350/newsweek-conversations-leslie-grossman.jpg?w=173&h=104&f=b810dcbe860058739bb5ae4114710a95") no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    max-width: 159px;
    width: 100%;
    /* max-height: 173px; */
    
}
.newsweek-img-3{
    position: relative;
    background: url("https://d.newsweek.com/en/full/1555351/newsweek-conversations-willem-dafoe.jpg?w=173&h=104&f=64f6b307bd86eb7c5a0a44276471bf7f") no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    max-width: 159px;
    width: 100%;
    /* max-height: 150px; */
    height: auto;
    
}

.newsweek-img-4{
    position: relative;
    background: url("https://d.newsweek.com/en/full/1555352/newsweek-conversations-matthew-modine.jpg?w=173&h=104&f=654768a75c92e3ead489a0ab7a1ae31f") no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    max-width: 159px;
    width: 100%;
    /* max-height: 173px; */
    height: auto;
    
    
}

.p-faded{
    font-size: 15px;
    color:rgb(163, 162, 162);
}

.news-week-last-col-wrapper{
    border: 1px solid rgb(207, 207, 207);
}



.vampire-h4{
    color: white;
    padding:10px 20px 0px 20px ;
    font-weight: 700;
    font-size: 18px;
    /* max-height: 173px; */
}

.vampire-p{
    color: rgb(138, 135, 135);
    padding:0px 20px 10px 20px ;
}


.the-vampire h4{
    font-size: 28px ;
    font-weight: 700;
}

.the-vampire p {
    /* padding: 0px 25px 0px 25px; */
}

.time-vampire{
    
    font-size: 22px;
    color: rgb(138, 135, 135);
}

.the-vampire-2{
    background-color: black;
    color: white;
    /* max-height: 173px; */
    

}
.the-vampire-3{
    background-color: black;
    color: white;
    /* max-height: 93px; */
    

}
.the-vampire-4{
    background-color: black;
    color: white;
    /* max-height: 173px; */
    

}

/* editor's pick */

.editors-h4{
    font-size: 24px;
    font-weight: 700;
}

.editor-inner-div img{
    max-width: 370px;
    width: 100%;
}
.img-wrapper-editor{
    position: relative;
}

.img-wrapper-editor img{
    width: 100%;
    height: auto;
    max-width: 397px;
}

.img-wrapper-editor span{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: auto;
    height: auto;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.9);
    color: red;
}

.editors-span-h4{
    font-size: 17px;
    font-weight: 700;
}
/* slideshows */
.wrapper-slide-shows{
    max-width:350px ;
    width: 100%;
    height: auto;

}
.wrapper-slide-shows img{
    width:100%;
    height:auto;
}
.slideshow-span-h4{
    font-size: 24px;
    font-weight: 700;
}



.container-slide-show-second img{
    padding-top: 10px;
    min-height: 100px;
    max-height: 100px ;
    height: auto;
    width: 100%;
    max-width: 135px;

}

.slide-show-second-title{
    font-size: 17px !important;
    color: black;
    font-weight: 700;
    padding: 10px 10px;
}



.wrapper-slide-shows h4{
    font-size: 22px;
    font-weight: 700;
    max-width:396px ;
    width: 100%;

}

/* subscribe-block */



.subscribe-col-1{
    position: relative;
    background-color: #f4f5f6;
    height: 360px;
    width: 100%;
    margin-right: 25px;
}

.box-10-subscribe{
    position: absolute;
    top: 50px;
    left: 300px;
}

.img-1-sub{
    position: absolute;
    top: 50px;
    left: 30px;
    max-width: 170px;
    height: auto;
}
.img-2-sub{
    position: absolute;
    top: 85px;
    left: 90px;
    max-width: 170px;
    height: auto;
}
.img-2-sub::after{
    clear: both;
}

.subscribe-col-2{
    background: url("https://d.newsweek.com/en/full/1541302/starting5-homepage.png?w=397&h=265&q=90&f=742bce9a6f72dd8f19ba2e7fd5db06e5") no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 155%;
    max-width: 300px;
    height: auto;
}



.subscribe-block-title-summary-wrapper{
    padding: 20px;
}

.subscribe-block-title-summary-wrapper h4{
    color: black;
    font-weight: 700;
    font-size:24px ;
}

.subscribe-block-title-summary-wrapper p{
    font-size:15px ;
}

.bgc-red{
    background-color: red !important;
    color: white;
    font-weight: 700;
}


/* footer */

footer{
    display: flex;
    max-width: 1300px !important;
    margin: 0 auto;
    padding: 0 50px;
}

.logo-footer-section{
    justify-content: space-between;
    margin-top: 30px;
    flex-wrap: wrap !important;
}

.footer-logo{
    max-width: 236px;
}

.footer-social-left-side{
    font-size: 12px;
    font-weight: 400;
    flex-wrap: wrap !important;
}

.footer-social-left-side p {
    font-size: 17px;
    padding-top: 13px;
    padding-right: 284px;
}

.ul-footer{
    color: rgba(0, 0, 0, 0.664);
    flex-wrap: wrap !important;
    max-width: 1300px;
    font-size: 14px;
    margin-bottom: 5px !important;
    text-decoration: none;
    list-style: none;
    padding: 0;
}
.ul-footer li a{
    font-size: 15px;
    border-right: 1px solid rgb(202, 201, 201);
    padding-right: 0.625rem;
    margin: 5px;
}

.ul-footer li:hover{
    color: black;
}


.footer-social i{
    color: gray;
    margin-left: 10px;
}




/* Media queries for header */
@media (max-width: 992px)  {

    .newsweek-logo{
        width: 132px;
        height: 22px;
    }
    .header-control{
        height: 50px;
        justify-content: space-between;
        align-items: center;
    }
    .subscribe-button{
        font-weight: 700;
        text-transform: uppercase;
        height:25px;
        width: 150px;
        background-color: white;
        margin: auto 0;
    }

    .nav-control{display: none;}

}

@media (max-width: 482px)  {
    .sub-signin-buttons{
        margin-left: 5px;
        white-space: nowrap;
        width: 140px;
        font-size:12px;
    }
    .subscribe-button{
        padding: 0 3px;
    }
    .fa-chevron-right{display: none !important;}
    .fa-bars{
        margin-left: 5px;
    }
}

@media (max-width:540px){
    .fuu {
        height: auto;
        max-height:86px ;
        width: 100%;
        max-width:143px;
    }
    .the-vampire-2 ,.the-vampire-3, .the-vampire-4{
        height: 86px;
    }
    .the-vampire-2 h4,.the-vampire-3 h4,.the-vampire-4 h4{
        font-size: 14px;
    }
    .the-vampire-2 p, .the-vampire-3 p, .the-vampire-4 p{
        display: none;
    }
}
/* Media queries for header End */
