
h1 ,h2, h3, h4, h5{
    font-family: "Roboto Condensed", sans-serif;
}

.nav-li a:hover{
    cursor: pointer;
    color: red ;
    text-decoration: none ;
}
.red{
    background-color: #F72210;
    color: #F72210;
}

header{
    display: flex;
    max-width: 1300px !important;
    margin: 0 auto;
}


.header-control{
    height: 95px;
    justify-content: space-between;
    align-items: center;
}

.newsweek-logo{
    width: 395px;
    height: 67px;
}

.white-tx{
    color: white;
}

.date{
    flex-direction: column;
    padding: 0 0 20px 20px;
    align-self:flex-end;
}

.sub-signin-buttons{
    font-weight: bold;
    padding-top: 10px;
}

.signin-button{
    text-transform: uppercase;
    align-self:flex-end;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 3px;
}

.subscribe-button{
    display: flex;
    text-transform: uppercase;
    height:30px;
    width: 150px;
    background-color: white;
    align-self:flex-end;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.fa-chevron-right{
    align-content: center;
    margin-left: 10px;
}
.nav-control{
    height: 60px;
    max-width: 1300px;
    margin: 0 auto;

}

.page-nav-ul{
    font-size: 18px;
    padding-right: 95px;
    padding-left: 3px;
    margin: auto 0;
    height: 30px;
    width: 100%;
    text-decoration: none;
    list-style: none;
}

.nav-li{
    white-space: nowrap;
    width: 100%;
    margin:0 5px;
}
.nav-li a{
    width: 100%;
    text-align: center;
    color: black;
    font-weight: bold;
}

.search-input{
    white-space: nowrap;
}

.input-control{
    max-width: 50px;
}

.fa-bars{
    margin-left: 30px;
    color: rgba(255, 255, 255, 0.657);
}
/* top main section of articles start of styling */

.background-2 ,.background-3{
    height: 3500px;
}

.background-1{
    background-color: burlywood;
}

.background-2{
    background-color: rgb(173, 170, 166);
}

.background-3{
    background-color: rgb(219, 216, 165);
}

.article-div-in-first-column-top-main{
}

.wrapper-top-main{
    max-width: 1300px;
}

.first-column-top-main img{
    width: 100%;
    height: auto;
}

.top-main-container-titles{

    font-size: 16px;
    color: rgb(116, 116, 116);
    font-weight: 700;
}

.top-main-container-article-titles a{
    font-size: 24px;
    color: rgb(0, 0, 0);
    font-weight: 700;
}

.top-main-summary{
    font-size: 15px;
}

.related-to-article-story{
    color: black;
    font-size: 15px;
    font-weight: 700;
}

.second-column-top-main{
    padding: 0 62px !important;
    

}

.second-column-top-main-img{

    display: block;
    height: auto;
    width: 100%;
    max-width: 508px;
    max-height: 311px;
    margin: 0 auto;
}



/* Media queries for header */
@media (max-width: 992px)  {

    .newsweek-logo{
        width: 132px;
        height: 22px;
    }
    .header-control{
        height: 50px;
        justify-content: space-between;
        align-items: center;
    }
    .subscribe-button{
        font-weight: 700;
        text-transform: uppercase;
        height:25px;
        width: 150px;
        background-color: white;
        margin: auto 0;
    }

}

@media (max-width: 482px)  {
    .sub-signin-buttons{
        margin-left: 5px;
        white-space: nowrap;
        width: 140px;
        font-size:12px;
    }
    .subscribe-button{
        padding: 0 3px;
    }
    .fa-chevron-right{display: none !important;}
    .fa-bars{
        margin-left: 5px;
    }
}
/* Media queries for header End */
